.analysis-form {
    width: 600px;
    max-width: 100%;
}

.algorithm-item {
    margin: 8px;
}

.actions {
    display: block;
    margin-top: 8px;
}

.right-action {
    margin-left: 16px;
}

.result-item {
    display: block;
}

.overlay {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: 100;
    background-color: rgba(1, 1, 1, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spinner-text {
    color: white;
    justify-self: flex-end;
    font-size: 140%;
}

.mat-progress-spinner::ng-deep circle,
.mat-progress-spinner circle {
    stroke: #fff;
  }

::ng-deep .snack-bar-color {
    background-color: red;
    color: white;
}